.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #fc724e;
  color: white;
  height: 20vh;
}

/*
** Adding my own css
*/
.particles-js {
    background: black;
    height: 20vh;
}

.home-title{
	
    font-size:3rem;
    line-height: 150px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.home-sub-title{
    font-size:1.25rem;
    font-style: italic;
    line-height: 230px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
