.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #1d4990;
  color: white;
  height: 20vh;
}

/*
** Adding my own css below
*/
#particles-js {
    height: 20vh;
}

.home-title{
	
    font-size:3rem;
    line-height: 150px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.home-sub-title{
    font-size:1.75rem;
    font-style: italic;
    position: absolute;
    z-index: 998;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 14%;
    opacity: 0.65;
}
.calvin {
    position: relative;
    width:150px;
    height:150px;
    z-index: 999;
    margin: 0 auto;
    opacity: 0.90;
    left: 300px; 
    top: 55px;
}
