<section class="hero is-primary is-small">
	<div>
	    <div class="calvin">
	    <img src="img/flower.png" alt="Hobbs jumping Calvin">
	    </div>
	    <h1 class="home-sub-title">{{ site.data.header.message }}</h1>
	</div>
</section>

<!--Stock Code
# <div id="particles-js">
-->
<!--
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">
                {{site.title}}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>
    </div>
-->
